.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-right: 7px;
    align-self: end;
  }
}
@media screen and (max-width: 500px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-right: 7px;
    align-self: end;
    margin: 0 17px 30px;
  }
}
