.page {
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: #2a2c2f;
  color: #ffffff;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
