@import url("./__item/photo-grid__item.css");
.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  max-width: 1184px;
  margin: 93px auto;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    margin: auto;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 16.07%);
    margin-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    margin: auto;
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 65px;
    grid-gap: 12px;
  }
}
