.places {
  font-family: "Inter", Arial, sans-serif;
  max-width: 984px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 98px;
}
@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
  }
}
@media screen and (max-width: 768px) {
  .places {
    max-width: 928px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 70px;
    margin-top: 101px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin: 66px 0 62px;
  }
}
