.place__image {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
    margin-left: 0;
    width: 101%;
  }
}
@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
}
@media screen and (max-width: 320px) {
  .place__image {
    max-width: 100%;
    max-height: 320px;
  }
}
