@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 984px;
  max-height: 1060px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .lead {
    max-width: 928px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: 0;
  }
}
