@import url("./__logo/header__logo.css");
@import url("./__lang/header__lang.css");
@import url("./__link/header__link.css");
@import url("./__link/_active/header__link_active.css");
.header {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  max-width: 1184px;
  min-height: 52px;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
  }
}
