.place__paragraphs {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .place__paragraphs {
    max-width: 100%;
    margin: 33px 16px 0;
  }
}
.place__paragraphs:last-child {
  margin-bottom: 0;
}
