.lead__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  min-height: 200px;
  text-align: center;
  margin-bottom: 0;
  word-break: break-all;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 57px;
  }
}
@media screen and (max-width: 768px) {
  .lead__title {
    width: 88%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    margin-top: 52px;
    min-height: 86px;
  }
}
