.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  margin-bottom: 0;
  word-break: break-all;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 57px;
  }
}
@media screen and (max-width: 768px) {
  .lead__title {
    width: 88%;
  }
}
@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 56px;
    line-height: 60px;
    margin-top: 43px;
    max-width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    margin-top: 43px;
    max-width: 282px;
  }
}
