.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 3px 14px 0;
}
@media screen and (max-width: 714px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    padding: 15px 9px 0 0;
    margin: 0;
  }
}
