@import url("./__overlay/cover__overlay.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__title/cover__title.css");
.cover {
  background-image: url("../../images/__background.jpg");
  background-size: cover;
  margin: 4px auto;
  max-width: 1184px;
  min-height: 740px;
  margin-bottom: 92px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    max-width: 100%;
    min-height: 480px;
    margin-bottom: 87px;
    margin-top: -7px;
  }
}
@media screen and (max-width: 600px) {
  .cover {
    max-width: 100%;
    min-height: 200px;
    margin-bottom: 65px;
  }
}
