.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  margin: 251px 0 6px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 202px;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    margin-top: 120px;
  }
}
@media screen and (max-width: 500px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 35px;
    max-width: 240px;
  }
}
