@import url("./__image/place__image.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__paragraphs/place__paragraphs.css");
@import url("./__title/place__title.css");
@import url("./__website/place__website.css");
.place {
  display: grid;
  grid-template-columns: 46.8% 49.2%;
  grid-template-rows: max-content minmax(min-content, max-content);
  max-width: 984px;
  grid-gap: 42px 40px;
  margin: 0;
  margin-bottom: 86px;
}
@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-gap: 42px 37px;
    margin-bottom: 70px;
    min-height: 564px;
  }
  .place:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    min-height: 484px;
    grid-template-columns: 46.8% 49.2%;
    grid-template-rows: max-content 76.3%;
    grid-gap: 45px 30px;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 500px) {
  .place {
    max-width: 100%;
    min-height: 855px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 36px;
  }
}
