@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");
@import url("./__links/footer__links.css");
.footer {
  display: flex;
  max-width: 1184px;
  min-height: 18px;
  margin: auto;
  padding-bottom: 24px;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 2px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 714px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    min-height: 310px;
    margin-left: 3%;
  }
}
