@import url("./_link/place__website_link.css");
@import url("./_url-heading/place__website_url-heading.css");
.place__website {
  align-self: end;
  padding-bottom: 6px;
}
@media screen and (max-width: 768px) {
  .place__website {
    padding-bottom: 3px;
  }
}
@media screen and (max-width: 320px) {
  .place__website {
    display: none;
  }
}
