@media screen and (max-width: 1024px) {
  .place_theme_karelia {
    margin-top: 8px;
  }
}
@media screen and (max-width: 768px) {
  .place_theme_karelia {
    margin-top: -17px;
  }
}
@media screen and (max-width: 320px) {
  .place_theme_karelia {
    margin-top: -30px;
  }
}
