@media screen and (max-width: 1024px) {
  .place_theme_baikal {
    margin-top: 7px;
  }
}
@media screen and (max-width: 768px) {
  .place_theme_baikal {
    margin-top: -22px;
  }
}
@media screen and (max-width: 320px) {
  .place_theme_baikal {
    margin-top: -52px;
  }
}
